



.mainProductDiv{
    display: grid;
    margin: 8px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50px 260px 260px ;
    margin-top: 30px;

}
.mainProductDiv div{
    margin: 8px;
}
.mainPic{
    grid-column: span 1;
    grid-row: span 2;
    background-color: goldenrod;
}
.paymentOptions{
    grid-column: 2;
    grid-row: 3;
    background-color: #000001 ;

   
}
.paymentOptions div{
    margin: 50px;
    height: 70%;
    width: 80%;
    background-color: #000001 ;
}
.specs{
    grid-column: 2;
    grid-row: 2;
    background-color: #000001 ;
    color: white;
}

.Title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-row: 1;
    grid-column: 1;
    font-size: 40px;
   }
   .image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   } 
    */
   img{
    max-height: 100px;
    max-width: 100px;
   }
   h4,h2,p{
    background-color: #000001;
   }