#drawnKristy{
   
    width: 90vw;
    flex-shrink: 100px;
    height: 598px;
    margin-bottom:400px ;
}
.eventTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: start;
    margin: 0;
    margin-left: 50px;
}

.container{
    width: 90vw;
    height: 90vh;
}

