.mainImage {
    margin-top: 25px;
    width: 90vw;
    margin-left: 50px; 
    height: 598px;
}
#galleryImage{

  height: 300px;
  width: 300px;
  

}
.gallery{
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.map{
  margin-top: 30px;
  position: relative;
  display: flex;
  max-width: 300px;
  margin-left: 67%;
  margin-bottom: 30px;
}
.directions{
  display: flex;
  top: 1063px;
  position: absolute;
  color: violet;
  text-align: end;
  right: 192px;
}



  
  